{% extends '@App/layouts/base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">User Registration  </div>
            <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form)}}
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-success text-left" type="submit">Register </button>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-primary text-right" href="{{ asset('sign-in') }}">Return </a>
                    </div>
                </div>
            {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}

    <link href="/web/vendor/admin-panel/registration.css" rel="stylesheet">

{% endblock %}